body {

    text-align: center;
    background-color: rgb(240, 240, 229);
    justify-content: center;
    margin-top: 3%;
    margin-left: 3%;
    
}

/*-----------------LEYENDA-AEROLINEAS----------*/
.leyenda {
  font-family: Arial, sans-serif;
  

}


/*Movimientos personalizados, las etiquetas HTML como <p> no se ponen con ., las clases sí */


.leyenda .NumAsientos {
  position: relative;
  top: -215px;  /* menor, mas sube */
  left: 350px;  /* mueve a la derecha */
  width: 150px;
  height: 230px;
  
}


.leyenda  .NumAsientos img  {
  position: absolute;
  top: 80px;  /* menor, mas sube */
  right: -300px;  /* mueve a la derecha */
  width: 700px;
  height: 350px;
  
}

.leyenda .NumAsientosRyanair {
  position: relative;
  top: -150px;  /* menor, mas sube */
  left: 200px;  /* mueve a la derecha */
  width: 150px;
  height: 230px;
  font-size: 11px;
  
}

.leyenda  .NumAsientosRyanair img  {
  position: absolute;
  top: 50px;  /* menor, mas sube */
  right: -200px;  /* mueve a la derecha */
  width: 500px;
  height: 300px;
  
}

.leyenda .NumAsientosBinter {
  position: relative;
  top: -220px;  /* menor, mas sube */
  left: 350px;  /* mueve a la derecha */
  width: 150px;
  height: 230px;
  
}

.leyenda  .NumAsientosBinter img  {
  position: absolute;
  top: 100px;  /* menor, mas sube */
  right: -300px;  /* mueve a la derecha */
  width: 800px;
  height: 450px;
  
}




/*-----AEROLINEAS-----*/
.aerolineas {
    flex-direction: column; /*una encima de la otra*/
    align-items: center; /*centro horizontalmente*/
    display: flex; 
    margin-top: 7%;
}

.aerolineas .Iberia {
    width: 370px;
    height: 100px;
    margin-left: 7%;
    cursor: pointer; /*cambia el cursor al pasar por encima*/
}

.aerolineas .Ryanair {
    width: 400px;
    height: 300px;
    cursor: pointer; /*cambia el cursor al pasar por encima*/


}

.aerolineas .Binter {
    width: 200px;
    height: 45px;
    cursor: pointer; /*cambia el cursor al pasar por encima*/
    margin-right: 0.3%;
    margin-top: 1.5%;
}


/*-------------------RYANAIR---------------*/

.contenedor {
    position: relative;
    height: 170px;
    width: 400px;
    margin: auto;

}



 .fondoAvion {
    position: relative;
    width: 100%; /* mismo tamaño que el contenedor padre, es decir, lo ocupa todo*/
    height: 100%;
    display: block;
    transform: rotate(90deg);  /* rota la imagen 90º para vertical */
    transform-origin: center ;
    top: 120px;
    left: 200px;
    
    

}


.asientos {
    
    position: absolute; /* de esta forma se superpone a la imagen*/
    left: 97.5%;
    top: 133%;
    transform: translate(-42%, -50%) scale(0.6); /* escala al 90%, cuando las tablas son muy pequeñas es necesario para que el navegador no lo ignore*/
    transform-origin: center center;   
    width: 130px;

}



 .pasillo{
    border: none;
    background-color: transparent;
    width: 20px;
}


/*-----------------IBERIA------------------------*/

.contenedorIberia {
    position: relative;
    height: 250px;
    width: 600px;
    margin: auto;

}



 .fondoAvionIberia {
    position: relative;
    width: 100%; /* mismo tamaño que el contenedor padre, es decir, lo ocupa todo*/
    height: 100%;
    display: block;
    transform: rotate(90deg);  /* rota la imagen 90º para vertical */
    transform-origin: center ;
    top: 170px;
    left: 300px;
    
    

}


.asientosIberia {
    
    position: absolute; /* de esta forma se superpone a la imagen*/
    left: 100%;
    top: 130%;
    transform: translate(-50%, -50%) scale(0.8); /* escala al 90%, cuando las tablas son muy pequeñas es necesario para que el navegador no lo ignore*/
    transform-origin: center center;   
    width: 160px;

}



 .pasilloIberia{
    border: none;
    background-color: transparent;
    width: 20px;
}



/*-----------------BINTER------------------------*/

.contenedorBinter {
    position: relative;
    height: 250px;
    width: 600px;
    margin: auto;

}



 .fondoAvionBinter {
    position: relative;
    width: 100%; /* mismo tamaño que el contenedor padre, es decir, lo ocupa todo*/
    height: 100%;
    display: block;
    transform: rotate(90deg);  /* rota la imagen 90º para vertical */
    transform-origin: center ;
    top: 170px;
    left: 300px;
    
    

}


.asientosBinter {
    
    position: absolute; /* de esta forma se superpone a la imagen*/
    left: 100%;
    top: 130%;
    transform: translate(-50%, -50%) scale(0.8); /* escala al 90%, cuando las tablas son muy pequeñas es necesario para que el navegador no lo ignore*/
    transform-origin: center center;   
    width: 150px;

}



 .pasilloBinter{
    border: none;
    background-color: transparent;
    width: 7px;
}